@font-face {
  font-family: 'icomoon';
  src: url("../font/icomoon.eot");
  src: url("../font/icomoon.eot?#iefix") format("embedded-opentype"), url("../font/icomoon.woff") format("woff"), url("../font/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 79, ../sass/_lib.scss */
[data-icon]:before {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

/* line 88, ../sass/_lib.scss */
[data-icon]:before {
  content: attr(data-icon);
}

/* line 8, ../sass/modern.scss */
.main-header-nav {
  margin: 0;
  max-width: none;
}

/* line 13, ../sass/modern.scss */
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  -moz-transform: translateY(-500%);
  -ms-transform: translateY(-500%);
  -webkit-transform: translateY(-500%);
  transform: translateY(-500%);
  -moz-transition: all 0.3s 0.1s;
  -webkit-transition: all 0.3s;
  -webkit-transition-delay: 0.1s;
  transition: all 0.3s 0.1s;
}

/* line 23, ../sass/modern.scss */
.overlay-search input[type=search] {
  width: 100%;
}

/* line 28, ../sass/modern.scss */
:target {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  top: 6.12px;
  top: 0.68rem;
}
@media all and (min-width: 25em) {
  /* line 28, ../sass/modern.scss */
  :target {
    top: 0;
  }
}
/* line 36, ../sass/modern.scss */
:target .no-csstransforms {
  top: -100%;
}
